@model List<WebApplication3.Models.Vehicle>

<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Registration Number</th>
            <th>Maintenance Tasks</th>
            <th>Action</th> <!-- Добавленный столбец для действий -->
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Make</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.RegistrationNumber</td>
                <td>
                    @foreach (var task in vehicle.MaintenanceTasks)
                    {
                        <span>@task.Description</span><br/>
                        <!-- Другие данные по вашему выбору -->
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Vehicle", new { id = vehicle.Id })">Edit</a>
                    <!-- Добавленная ссылка на страницу редактирования -->
                </td>
            </tr>
        }
    </tbody>
</table>
